body {
   padding-top: 60px; 
}

.navbar .brand {
   color: #ccc;
}

.navbar .nav > li > a {
   color: #bbb;
}

.admin-tabs-search {
   margin-bottom: 0px;
   margin-left: 15px;
}

.admin-tabs-search-icon {
   margin-right: 6px;
}
